.userInfo {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 10px;

    &__name {
        background: white;
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    &__name h2 {
        font-size: 18px;
        font-weight: 600;
        margin: 10px;
    }

    &__name img {
        max-width: 128px;
    }

    &__block {
        background: white;
        border: 1px solid lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
    }
}










