.dialogs__button {
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
    background: white;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.dialogs__button:hover {
    transition: 0.3s;
    background: lightgray;
}

.dialogs__input {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
}

.dialogs__inputs {
    display: flex;
    background: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}