.nav {
    grid-area: nav;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
}

.nav ul li {
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.nav__link {
    color: black;
    width: 100%;
}

.nav__link:hover {
    color: gold;
}

.nav__link_active {
    color: gold;
}
