.login__text {

    margin: 0 0 10px 0;
    
}

.login__input {
    padding: 5px 15px 5px 15px;
    border: 1px solid lightgray;
    width: 100%;
}

.login__input:focus {
    border: 1px solid grey;
}

.login__checkbox {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__button {
    transition: 0.3s;
}

.login__button:hover {
    transition: 0.3s;
    background: lightgray;
}



